/************************************************************************************************************************
 * ┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ *
 * │ REQUIRED ENV VARIABLES                                                                                           │ *
 * └──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ *
 ************************************************************************************************************************/

VITE_PUBLIC_AUTH0_CLIENT_ID=""
VITE_PUBLIC_AUTH0_CLIENT_SECRET=""
VITE_PUBLIC_AUTH0_DOMAIN=""

/************************************************************************************************************************
 * ┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐ *
 * │ OPTIONAL ENV VARIABLES                                                                                           │ *
 * └──────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘ *
 ************************************************************************************************************************/
